.welcome-container {
    width: 90%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 100px;
    border-bottom: 1px solid #fff;
}

.welcome-text {
    margin: 30px;
    color: #fff;
}

.welcome-text p {
    text-indent: 40px;
}

.photo-container {
    margin-left: auto;
    margin-right: auto;
}

.photo {
    height: 547px;
    width: 412px;
    padding: 1px;
    border: 1px solid #021a40;
    box-shadow: 3px 10px 30px;
}